<!-- Display this partial ejs on all the other ejs files from views directory -->
<!-- This will be first thing on every ejs file from views -->
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>

<body>

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
