<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
</head>

<body>
  <% include partials/nav.ejs %>

  <h1>Contact</h1>
  This is the contact page

</body>

</html>
